@font-face {
  font-family: PT-Serif;
  src: url("PT_Serif-Web-Regular.ttf");
}



.container {
  background-color: #c5d1e5;
  margin: 0 auto 0 auto;
  max-width: 750px;
}


h1{
  font-family: Helvetica, Verdana, sans-serif;
  color: white;
  text-align: center;
}

body {
  background-color: #c5d1e5;
}

#top {
  background-color: #39588e;
}

#top p {
  color: white;
  text-align: center;
}

#links {
  font-family: PT-Serif;
  background-color: #dadee5;
  border-style: solid;
  border-color: black;

}

#solid-border {
  border-style: solid;
}

#dotted-border {
  border-style: dotted;
}

#dashed-border {
  border-style: dashed;
}

#double-border {
  border-style: double;
}

#letter-space1 {
  letter-spacing: 5px;
}

#letter-space2 {
  letter-spacing: -1.6px;
}

#border-radius1 {
  background-color: red;
  width: 300px;
  height: 50px;
  margin: 4px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

#border-radius2{
  background-color: red;
  width: 300px;
  height: 50px;
  margin: 4px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px 0px;
}

#border-radius3 {
  background-color: red;
  width: 300px;
  height: 50px;
  margin: 4px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 0px 10px;
}

#border-radius4 {
  background-color: red;
  width: 300px;
  height: 50px;
  margin: 4px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 10px;
}

#large-line-height {
  line-height: 200%;
  font-size: 16px;
  max-width: 500px;
  margin: auto;
}

#small-line-height {
  line-height: 70%;
  font-size: 16px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
}

.description {
  font-family: PT-Serif;
}
