h1{
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  background-color: gray;
}

#top {
  background-color: pink;
}

#links {
  background-color: blue;
  border-style: solid;
  border-color: black;
}
